/* .App {
  text-align: center;
} */

/* style.................
.users{
  background-color: #7efff5;
  margin-top: 3opx;
  height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 10px;
}
h2{
  background-color: #7d5fff;
  padding: 10px;
  border-radius: 100px;
}
img{
  border-radius: 50%;
}
.users h2{
  background-color: #ff9f1a;
} */